* {
    box-sizing: border-box;
}

body {
    font-family: poppins, sans-serif;
    padding: 1em;
    line-height: 1.4;
    margin: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 2.027rem;
    font-weight: 500;
}

h2  {
    font-size: 1.802rem;
    font-weight: 800;
}

h3  {
    font-size: 1.266rem;
    font-weight: 700;
}

img {
    width: 100%;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 2em;
}

nav ul {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

nav a {
    text-decoration: none;
    padding: 0.25em 0.5em;
    color: #000;
    font-weight: 500;
    font-size: 1.5rem;
}

nav a:link,
nav a:visited {
    color: #000;
}

nav a:hover,
nav a:focus {
    background-color: #000;
    color: #fff;
}

header div img {
    width: 30%;
}

.sweet-pics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr;
    gap: 1em;

    grid-template-areas: 
    "block1 block1 block1"
    "block1 block1 block1"
    "block2 block3 block4"
    ;
}

.sweet-pics .block:nth-child(1) {
    grid-area: block1;
}

.sweet-pics .block:nth-child(2) {
    grid-area: block2;
}

.sweet-pics .block:nth-child(3) {
    grid-area: block3;
}

.sweet-pics .block:nth-child(4) {
    grid-area: block4;
}

.sweet-pics img {
    border-radius: 10px;
}

.limited {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 0;
}

.velvet {
    margin-top: 0;
}

.button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    border: 8px solid #000;
    border-radius: 4px;
    padding: 0 0.5em;
}

.sweetheart {
    padding-bottom: 3em;
}

#dough {
    background-color: #f8fafc;
    padding: 2.5em 0;
}

#dough div h2 {
    text-align: center;
    margin-top: 0;
}

#quotes {
    background-color: #000; 
    color: #fff;
    padding-top: 1em;
}

#quotes div h2 {
    text-align: center;
    margin-top: 0;
    padding-top: 1em;
}

#quotes div blockquote {
    margin: 0;
}

.spacing div {
    padding-bottom: 2em;
}

#try-it {
    text-align: center;
    padding: 3em 0;
}

#try-it h2 {
    padding-bottom: 1em;
}

.grid {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
}

.grid article {
    background-color: #f8fafc;
    border: 2px solid #f8fcfa;
    border-radius: 0 0 10px 10px;
}

.grid article img {
    border-radius: 10px 10px 0 0;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 2em 0;
}